body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.signup-content {
    display: flex;
    align-items: center;
    max-width: 800px;
    border-radius: 20px; /* Yumuşak kenarlı dikdörtgen */
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Yumuşak gölge efekti */
}

.signup-form {
    flex: 1;
    padding: 40px;
    background-color: #f8f9fa;
}

.signup-image {
    flex: 1;
    padding: 40px;
    background-color: #007bff;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
